<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IITM Calculators</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous">
    <script src="/static/js/themes.js" async></script>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">IITM Calculators</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarText" aria-controls="navbarText"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/' %}active{%endif%}" aria-current="page" href="/">All
                Calculators</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/grade' %}active{%endif%}" href="/grade">Grade Evaluator</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/endterm' %}active{%endif%}" href="/endterm">End Term Passing Marks
                Calculator</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        {% block content %}
            
        {% endblock %}
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
              <p class="mb-3 mb-md-0 text-body-secondary">© 2023 IITM BS Degree Calculators, A project by <a href="https://shubhajit.rf.gd/" target="_blank" rel="noopener noreferrer">Shubhajit Halder</a> and <a href="https://www.linkedin.com/in/theshivam7" target="_blank" rel="noopener noreferrer">Shivam Sharma</a></p>
              
            </div>
            <p class="text-center text-muted">Total Visitors: {% block visitor %}{% endblock %}</p>
          </footer>
        </div>
        <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
          crossorigin="anonymous"></script>
      </body>
    </html>